/*
ID    Classes, atributos e pseudo-classes    Elementos e pseudo-elementos
1     0                                      0 
0     1                                      0
1     1                                      0
1     1                                      1  
2     1                                      1
2     1                                      2
2     2                                      2
2     2                                      3
2     3                                      3

Especificidade de seletores
empate: quem aparece por último no código ganha
style
!important: ganha de tudo
*/


body#b.bclass p#p.p {
    background: purple !important;
}

body#b.bclass p#p.p {
    background: blue !important;
}

#p {
    background: red;
}

#p.p {
    background: yellow;
}